@font-face {
  font-family: "newfont";
  src: url("./nf-icon-v1-93.woff");
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: url("../assets/images/background_large.jpg");
  background-size: cover;
  height: auto;
  font-size: 16px;
  color: #333;
}
.wrapper {
  height: 1099px;
}
button,
input {
  font: inherit;
}
.background {
  position: fixed;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  z-index: -1;
}
.container {
  max-width: 100%;
}
header {
  display: flex;
  width: 100%;
  height: 90px;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
}

svg {
  height: 45px;
  width: 167px;
  margin-left: 46px;
  fill: #e50914;
}
.form {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  padding: 60px 68px 40px;
}
form {
  height: 344px;
}
.login-body {
  content: "";
  height: 91px;
  display: block;
  max-width: 450px;
  min-height: 660px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
}
h1 {
  font-size: 2em;
  font-weight: 700;
  color: white;
  margin-bottom: 28px;
}
.form-element {
  position: relative;
  margin: 0 auto;
  padding-bottom: 16px;
}
input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  font-family: inherit;
  padding: 16px 20px 0 20px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #ffffff;
}
input[type="text"]:focus {
  outline: none;
}
.floating-label {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  top: 25%;
  left: 20px;
  font-size: 18px;
  font-weight: 100;
  cursor: text;
  color: #8c8c8c;
}

input[type="text"]:focus ~ .floating-label,
input[type="text"]:valid ~ .floating-label {
  font-size: 11px;
  top: 7px;
}

.btn {
  width: 100%;
  height: 48px;
  margin: 24px 0 12px;
  cursor: pointer;
  padding: 16px;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  background-color: #e50914;
}
.options {
  display: flex;
  justify-content: space-between;
  color: #b3b3b3;
  font-size: 13px;
  font-weight: 500;
  height: 17px;
}
.content {
  display: flex;
}

.remember-label {
  align-self: center;
  display: block;
}

.content input {
  display: none;
}
.content .checkmark {
  width: 16px;
  height: 16px;
  background-color: #8c8c8c;
  border-radius: 2px;
  margin-right: 5px;
}
.checkmark:after {
  content: "";
  display: none;
}
.content input:checked ~ .checkmark {
  background-color: #8c8c8c;
}
.content input:checked ~ .checkmark:after {
  display: block;
}
.content .checkmark:after {
  font-family: "newFont";
  content: "\e804";
  color: black;
  font-size: 16px;
}
.options a {
  color: inherit;
  padding-top: 2px;
  text-decoration: none;
  align-self: center;
}
.options a:hover {
  text-decoration: underline;
}
.container-2 {
  width: 100%;
  display: flex;
}
.fb-option a {
  margin-top: 16px;
  display: flex;
  font-size: 13px;
  color: rgb(115, 115, 115);
  text-decoration: none;
  align-items: center;
}
.fb-option img {
  width: 20px;
  margin-right: 10px;
}
.signup-link {
  margin-top: 16px;
  font-weight: 500;
  font-size: 16px;
  color: rgb(115, 115, 115);
}
.signup-link a {
  text-decoration: none;
  color: #ffffff;
}
.signup-link a:hover {
  text-decoration: underline;
}
.captcha .captcha-info {
  margin: 13px 0;
  font-size: 13px;
  color: rgb(115, 115, 115);
}
.captcha-info a {
  color: rgb(0, 113, 235);
  text-decoration: none;
}
.hidden {
  display: none;
}
.captcha-info a:hover {
  text-decoration: underline;
}
#recaptcha-text {
  font-size: 13px;
  color: rgb(115, 115, 115);
}
#recaptcha-text a {
  color: rgb(0, 113, 235);
  text-decoration: none;
}
#recaptcha-text a:hover {
  text-decoration: underline;
}

footer {
  display: block;
  position: relative;
  padding-bottom: 10px;
  margin-top: 90px;
}
footer .site-footer {
  width: 100%;
  height: 238px;
  background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 600px) {
  header {
    background-color: #000000;
  }
  svg {
    margin-left: 20px;
  }
  .login-body {
    width: 100%;
    margin: 0;
    max-width: 100%;
    background-color: #000000;
  }
  .form {
    padding: 0 5%;
  }
  .container {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
