@font-face {
  font-family: newfont;
  src: url("../assets/nf-icon-v1-93.woff");
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: url("../assets/images/background_large.jpg");
  background-size: cover;
  font-size: 16px;
  color: #333;
}
button,
input {
  font: inherit;
}
.background {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.container {
  max-width: 100%;
}
header {
  display: flex;
  width: 100%;
  height: 90px;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
}

svg {
  height: 45px;
  width: 167px;
  margin-left: 46px;
  fill: #e50914;
}
.form {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
}
.login-body {
  content: "";
  height: 91px;
  display: block;
  max-width: 450px;
  min-height: 515px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
}
.form {
  padding: 60px 68px 40px;
}
h1 {
  font-size: 2em;
  font-weight: 700;
  color: white;
  margin-bottom: 28px;
}
.form-element {
  position: relative;
  margin: 0 auto;
  padding-bottom: 16px;
}
input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  font-family: inherit;
  padding: 16px 20px 0 20px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #ffffff;
}
input[type="text"]:focus {
  outline: none;
}
.floating-label {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  top: 25%;
  left: 20px;
  font-size: 18px;
  cursor: text;
  color: #8c8c8c;
}

input[type="text"]:focus ~ .floating-label,
input[type="text"]:valid ~ .floating-label {
  font-size: 11px;
  top: 7px;
}

.btn {
  width: 100%;
  height: 48px;
  margin: 24px 0 12px;
  cursor: pointer;
  padding: 16px;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  background-color: #e50914;
}
.options {
  display: flex;
  justify-content: space-between;
  color: #b3b3b3;
  font-size: 13px;
  font-weight: 500;
  height: 17px;
}
.content {
  display: flex;
}

.remember-label {
  align-self: center;
  display: block;
}
